{% extends 'layout.html' %} {% block body %}

<link
  rel="stylesheet"
  type="text/css"
  href="/static/DataTables/datatables.min.css"
/>
<style>
  tr .to_select {
    cursor: pointer;
  }
</style>
<script
  type="text/javascript"
  src="/static/DataTables/datatables.min.js"
></script>

<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script> -->

<header class="header-global">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Spotify Track Search</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-primary"
        aria-controls="navbar-primary"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-primary">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="" />
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button
                type="button"
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbar-primary"
                aria-controls="navbar-primary"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav ml-lg-auto">
          <!-- <li class="nav-item">
                
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
              </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <section class="section section-components">
    <div class="container-fluid">
      <div class="col-lg-12">
        <h3 class="h4 font-weight-bold mb-2">Search</h3>
        <!-- Menu -->
        <div class="nav-wrapper">
          <ul
            class="nav nav-pills nav-fill flex-column flex-md-row"
            id="tabs-text"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link mb-sm-3 mb-md-0 active"
                id="tabs-text-1-tab"
                data-toggle="tab"
                href="#tabs-text-1"
                role="tab"
                aria-controls="tabs-text-1"
                aria-selected="true"
                >Track</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link mb-sm-3 mb-md-0"
                id="tabs-text-2-tab"
                data-toggle="tab"
                href="#tabs-text-2"
                role="tab"
                aria-controls="tabs-text-2"
                aria-selected="false"
                >Playlist</a
              >
            </li>
          </ul>
        </div>
        <div class="card shadow">
          <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="tabs-text-1"
                role="tabpanel"
                aria-labelledby="tabs-text-1-tab"
              >
                <div class="row align-items-end">
                  <div class="wrapper">
                    <span class="inline">
                      <input
                        style="border: 1px solid #ff216e"
                        size="20"
                        type="text"
                        id="trackQuery"
                        placeholder=" Track Name"
                        name="trackQuery"
                      />
                      <select id="country_code">
                        <option value="DE" selected>DE</option>
                        {% for country,country_code in countries.items() %}
                        <option value="{{ country_code }}">
                          {{ country_code }}
                        </option>
                        {% endfor %}
                      </select>
                      <button
                        class="btn btn-primary"
                        id="searchTrack"
                        type="button"
                      >
                        Search
                      </button>
                    </span>
                  </div>
                  <button
                    class="btn btn-primary"
                    id="clearCache"
                    type="button"
                    style="position: absolute; right: 0"
                  >
                    Clear Cache
                  </button>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="tabs-text-2"
                role="tabpanel"
                aria-labelledby="tabs-text-2-tab"
              >
                <div class="row align-items-end">
                  <div class="wrapper">
                    <span class="inline">
                      <input
                        style="border: 1px solid #ff216e"
                        size="20"
                        type="text"
                        id="playlistQuery"
                        placeholder=" Playlist Name"
                        name="playlistQuery"
                      />
                      <select id="country_code">
                        <option value="DE" selected>DE</option>
                        {% for country,country_code in countries.items() %}
                        <option value="{{ country_code }}">
                          {{ country_code }}
                        </option>
                        {% endfor %}
                      </select>

                      <button
                        class="btn btn-primary"
                        id="searchPlaylist"
                        type="button"
                      >
                        Search
                      </button>
                    </span>
                  </div>
                  <button
                    class="btn btn-primary"
                    id="clearCachePlaylist"
                    type="button"
                    style="position: absolute; right: 0"
                  >
                    Clear Cache
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-components">
    <div class="container-fluid">
      <div class="col-lg-12">
        <h3 class="h4 font-weight-bold mb-2">Results</h3>
        <div class="card shadow">
          <div class="table-responsive card-body">
            <table
              id="resultTable"
              style="display: none"
              class="display"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Artist</th>
                  <th>Album</th>
                  <th>PreviewUrl</th>
                </tr>
              </thead>
            </table>
            <table
              id="playlistSearchTable"
              style="display: none"
              class="display"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Owner</th>
                  <th>Href</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <div class="container">
    <!-- <hr> -->
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; 2021
          <a href="" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript">
  $("#searchTrack").click(function () {
    var query = $("#trackQuery").val();
    var country = $("#country_code").val();
    // if (Array.isArray(countries)) {
    //   countries = countries.toString();
    // }
    console.log(country);
    $.ajax({
      url: `/searchTrack?q=${query}&market=${country}`,
      method: "GET",
      contentType: "application/json",
    }).done(function (data) {
      document.getElementById("playlistSearchTable").style.display = "none";
      document.getElementById("resultTable").style.display = "";
      $("#resultTable").dataTable().fnDestroy();
      $("#playlistSearchTable").dataTable().fnDestroy();
      $("#resultTable").dataTable({
        aaData: data,
        dataType: "json",
        dataSrc: "data",
        columns: [
          {
            data: "id",
          },
          {
            data: "name",
          },
          {
            data: "artist",
          },
          {
            data: "album",
          },

          {
            data: "preview_url",
            render: function (data, type, row, meta) {
              if (type === "display") {
                data =
                  '<a target="_blank" href="' + data + '">' + data + "</a>";
              }
              return data;
            },
          },
        ],
      });
    });
  });

  $("#searchPlaylist").click(function () {
    // var table = $('#playlistSearchTable').DataTable();
    var query = $("#playlistQuery").val();
    var country = $("#country_code").val();
    $.ajax({
      url: `/searchPlaylist?q=${query}&market=${country}`,
      method: "GET",
      contentType: "application/json",
    }).done(function (data) {
      console.log(data);
      document.getElementById("resultTable").style.display = "none";
      document.getElementById("playlistSearchTable").style.display = "";
      $("#resultTable").dataTable().fnDestroy();
      $("#playlistSearchTable").dataTable().fnDestroy();

      $("#playlistSearchTable").dataTable({
        aaData: data,
        dataType: "json",
        dataSrc: "data",
        rowId: "id",
        rowClass: "playlistRow",
        className: "to_select",
        responsive: true,
        columns: [
          {
            data: "id",
            className: "to_select",
          },
          {
            data: "name",
            className: "to_select",
          },
          {
            data: "owner",
            className: "to_select",
          },
          {
            data: "href",
            className: "to_select",
            render: function (data, type, row, meta) {
              if (type === "display") {
                data =
                  '<a target="_blank" href="' + data + '">' + data + "</a>";
              }
              return data;
            },
          },
        ],
      });
    });
  });

  $(document).on("click", ".to_select", function () {
    var query = $(this).closest("tr").attr("id");

    $.ajax({
      url: `/getPlaylist?q=${query}`,
      method: "GET",
      contentType: "application/json",
    }).done(function (data) {
      document.getElementById("playlistSearchTable").style.display = "none";
      document.getElementById("resultTable").style.display = "";
      $("#resultTable").dataTable().fnDestroy();
      $("#playlistSearchTable").dataTable().fnDestroy();
      $("#resultTable").dataTable({
        aaData: data,
        dataType: "json",
        dataSrc: "data",
        columns: [
          {
            data: "id",
          },
          {
            data: "name",
          },
          {
            data: "album",
          },
          {
            data: "artist",
          },
          {
            data: "preview_url",
            render: function (data, type, row, meta) {
              if (type === "display") {
                data =
                  '<a target="_blank" href="' + data + '">' + data + "</a>";
              }
              return data;
            },
          },
        ],
      });
    });
  });

  $("#clearCache,#clearCachePlaylist").click(function () {
    var country = $("#country_code").val();
    $.ajax({
      url: `/clearCache?q=${country}`,
      method: "GET",
      contentType: "application/json",
    }).done(function (data) {
      alert(JSON.stringify(data.message));
    });
  });
</script>

{% endblock %}
