<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search Track Details</title>
    <!-- Favicon -->
    <link href="" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="../static/assets/css/argon.css?v=1.0.1" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/vendor/bootstrap-select/bootstrap-select.min.css">
    <style type="text/css">
        .bootstrap-select .dropdown-toggle:focus {
            outline: none !important;
        }
        
        ;
    </style>
</head>

<body>
    <script src="/static/jquery/jquery-3.3.1.min.js"></script>
    <!-- {% include "includes/_navbar.html" %} -->
    {% block body %}{% endblock %}



    <!--     <script src="../static/assets/vendor/jquery/jquery.min.js"></script>-->
    <script src="../static/assets/vendor/popper/popper.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- Argon JS -->
    <script src="../static/assets/js/argon.js?v=1.0.1"></script>
    <script src="../static/assets/vendor/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $('select').selectpicker();
    </script>
</body>

</html>